# 덕 타이핑

**설명**: 어떤 객체가 순회가 가능한 객체인지 검증

**사용목적**: 여러 개의 입력을 처리해야 하는 함수를 작성할 때 확인차 사용

In [5]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # iterable 객체 아님
        return False

In [6]:
isiterable('a string')

True

In [7]:
isiterable([1,2,3])

True

In [8]:
isiterable(5)

False

## 예시

객체가 1) 리스트인지, 2) 순회가 가능한지 확인하고 아닌경우 리스트로 변환

In [11]:
x = 'a'
if not isinstance(x, list) and isiterable(x):
    x = list(x)
x

['a']

# 문자열 템플릿 (format 함수)
- **{0:.2f}** 1번째 인자는 소수점 아래 2자리까지 표기
- **{1:s}** 2번째 인자는 문자열
- **{2:d}** 3번째 인자는 정수

In [13]:
template = '{0:.2f} {1:s} are worth US${2:d}'
template.format(424.53, 'Korea', 3)

'424.53 Korea are worth US$3'