# Chapter 5. Pandas 시작하기

## 순위 매기기

In [2]:
import pandas as pd
test = pd.Series([7, -5 ,3,10,-3,1,-7])

# 순서대로 순위매기기
display(test.rank(method='first'))

0    6.0
1    2.0
2    5.0
3    7.0
4    3.0
5    4.0
6    1.0
dtype: float64

In [3]:
# 동률인 경우 그룹 내에서 높은 순위 적용
display(test.rank(ascending = False, method='max'))

0    2.0
1    6.0
2    3.0
3    1.0
4    5.0
5    4.0
6    7.0
dtype: float64

## 기술통계

In [9]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[1,4],[np.nan,3], [2,6], [np.nan,1]], columns = ['one', 'two'])
df

   one  two
0  1.0    4
1  NaN    3
2  2.0    6
3  NaN    1

In [11]:
# 컬럼에 max를 가진 index 추출
df.idxmax()

one    2
two    2
dtype: int64

### 상관관계와 공분산

In [ ]:
%pip install pandas-datareader

#### 주가 정보 다운로드

In [27]:
import pandas_datareader.data as web
all_data = {ticker: web.get_data_yahoo(ticker)
            for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
price = pd.DataFrame({ticker: data['Adj Close']
                        for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume']
                        for ticker, data in all_data.items()})

In [22]:
# 주식의 퍼센트 변화율 계산
returns = price.pct_change()
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2022-08-29 -0.013690 -0.000537 -0.010668 -0.008625
2022-08-30 -0.015305 -0.005602 -0.008521 -0.003897
2022-08-31 -0.010635 -0.008721 -0.005704 -0.006915
2022-09-01  0.004707  0.009420 -0.004092  0.012826
2022-09-02 -0.013611 -0.014422 -0.016667 -0.016915

In [23]:
# 전체 상관관계
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.438293  0.761423  0.686660
IBM   0.438293  1.000000  0.478682  0.446418
MSFT  0.761423  0.478682  1.000000  0.788008
GOOG  0.686660  0.446418  0.788008  1.000000

In [28]:
# IBM과의 상관관계 
returns.corrwith(returns.IBM)

AAPL    0.438293
IBM     1.000000
MSFT    0.478682
GOOG    0.446418
dtype: float64

In [29]:
# 시가총액과 퍼센트 변화율 상관관계
returns.corrwith(volume)

AAPL   -0.077750
IBM    -0.112435
MSFT   -0.066393
GOOG   -0.079305
dtype: float64