# Chapter7: 데이터 정제 및 준비

## 개별화와 양자화

In [8]:
import pandas as pd
ages = [20,22,16,73,24,43,57,96,34]
bins = [0,18,25,35,45,55,100]
group_names = ['a','b','c','d','e','f']
cats = pd.cut(ages,bins, labels=group_names)
cats

['b', 'b', 'a', 'f', 'b', 'd', 'f', 'f', 'c']
Categories (6, object): ['a' < 'b' < 'c' < 'd' < 'e' < 'f']

In [6]:
cats.codes

array([1, 1, 0, 5, 1, 3, 5, 5, 2], dtype=int8)

In [7]:
cats.categories

IntervalIndex([(0, 18], (18, 25], (25, 35], (35, 45], (45, 55], (55, 100]], dtype='interval[int64, right]')

In [9]:
# 균등하게 4개의 그룹으로 나누기
pd.cut(ages,4,precision=2)

[(15.92, 36.0], (15.92, 36.0], (15.92, 36.0], (56.0, 76.0], (15.92, 36.0], (36.0, 56.0], (56.0, 76.0], (76.0, 96.0], (15.92, 36.0]]
Categories (4, interval[float64, right]): [(15.92, 36.0] < (36.0, 56.0] < (56.0, 76.0] < (76.0, 96.0]]

In [11]:
# 4분위로 나누기
pd.qcut(ages,4)

[(15.999, 22.0], (15.999, 22.0], (15.999, 22.0], (57.0, 96.0], (22.0, 34.0], (34.0, 57.0], (34.0, 57.0], (57.0, 96.0], (22.0, 34.0]]
Categories (4, interval[float64, right]): [(15.999, 22.0] < (22.0, 34.0] < (34.0, 57.0] < (57.0, 96.0]]

## 특잇값을 찾고 제외하기

In [17]:
import numpy as np
data = pd.DataFrame(np.random.randn(1000,4))
col = data[2]
col[np.abs(col)>3]

51    -3.424134
73    -3.134697
185   -3.137214
215   -3.809382
616    3.460806
719   -3.657295
792    3.068531
829    3.253388
Name: 2, dtype: float64

In [20]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
51   0.154345 -3.477185 -3.424134  1.432662
73   1.264108  0.174162 -3.134697  0.412220
185 -1.541779  2.159260 -3.137214  1.020381
215  0.118811 -0.937716 -3.809382 -0.674591
372  0.305441 -3.147057 -0.798374 -1.716523
502  3.603773 -1.175095  0.063551  0.693222
616  1.344449  0.292677  3.460806  0.370363
719  0.162813  0.010889 -3.657295 -0.303034
792 -0.856603  0.658153  3.068531  0.973433
829  0.007870  1.084115  3.253388 -0.045163
920  0.433057  0.644560 -0.079803  3.497208
938  3.238725 -1.779653 -0.188031  0.169975

In [21]:
data[np.abs(data)>3] = np.sign(data) * 3

In [22]:
np.sign(data).head()

     0    1    2    3
0  1.0  1.0 -1.0  1.0
1  1.0 -1.0 -1.0  1.0
2 -1.0 -1.0 -1.0  1.0
3 -1.0  1.0 -1.0  1.0
4 -1.0 -1.0 -1.0 -1.0